# These following lines must be present when building a patched open mpi
# implementation. Do not change or remove the REPLACE_PLFS_* characters.
# These will be replaced with the paths to PLFS when open mpi is actually
# patched. Feel free to add to these lines as needed for a particular
# configuration. Ufs has to be present in the --with-file-system parameter;
# otherwise parallel programs seem to have trouble with files.
#
with_io_romio_flags=--with-file-system=ufs+nfs+plfs
LDFLAGS="-LREPLACE_PLFS_LIB -Wl,-rpath=REPLACE_PLFS_LIB -lplfs -lstdc++ -lpthread"
CFLAGS="-IREPLACE_PLFS_INC"
CXXFLAGS="-IREPLACE_PLFS_INC"
CCASFLAGS="-IREPLACE_PLFS_INC"

# The following are needed to make sure all types of libraries are created.
enable_shared=yes
enable_static=yes
